@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

.login, .signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/car.jpg');
    background-size: cover;
    background-position: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #8b0000;
    border-radius: 15px;
    padding: 40px;
    background-color: rgba(255, 248, 240, 0.9);
    max-width: 350px;
    width: 90%;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: #8b0000;
}

p {
    color: #991c1c;
    margin: 5px;
}

input {
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid gray;
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    background-color: #f9f9f9;
}

button {
    background-color: #4682b4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #315f7d;
}

/* Added spacing between form fields */
.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.alert {
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    margin-bottom: 15px;
  }  